<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   Polemic Books API
  </title>
  <style>
   body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }

    .bottom {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  </style>
 </head>
 <body>
  <h1>
   Polemic Books API
  </h1>
  <p>
   If you see this page, you shouldn't be here.
  </p>
  <p>
   <em>
    Thank you for using our API.
   </em>
   ¯\_(ツ)_/¯
  </p>
  <small class="bottom">
   By the away, this awesome API was built using Python and <s>Django</s> Flask.
  </small>
 </body>
</html>
